header{
  border-bottom: 1px solid black;
  padding: 20px 0;
}

h1{
  text-align: center;
  position: relative;
}

header section{
  background-color: rgba(1, 1, 1, 0.32);
  padding: 0 20px 30px 20px;
  display: inline-block;
  margin-left: 20px;
  right: 1%;
}

header p{
  text-align: center;
}

.inputCache{
  display: none;
}

.ficheProduit{
  position: relative;
  border: 1px solid #000;
  width: 90%;
  display: inline-block;
  margin: 20px 0;
}

.ficheProduit img{
  width: 50%;
  margin: 0 25% 30px 25%;
}
.ficheProduit p{
  margin: 0 5px;
  text-align: justify;
}
.savoir{
  position: absolute;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  margin: 10px 5px;
  top: 150px;
  left: 80%;
  border-radius: 400px;
  cursor: pointer;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

#detailProduit{
  border: 1px solid #000;
  width: 75%;
  display: inline-block;
}

#detailProduit img{
  width: 50%;
  vertical-align: top;
  float: left;
}

#detailProduit a{
  text-decoration: none;

}

#detailProduit p{
  margin : 0 5px;
}

footer{
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 5px;
}
footer h2{
  text-align: center;
}

footer section{
  width: 50%;
  margin: auto;
}
footer section p{
  text-align: center;
}

@media (min-width: 600px) {
  .savoir{
    left: 80%;
    top:100px;
  }
  .ficheProduit{
    width: 45%;
  }
}

@media (min-width: 600px) {
  .savoir{
    left: 80%;
    top:80px;
  }
}

@media (min-width: 900px) {
  header section{
    position: absolute;
  }
  .savoir{
    left: 80%;
    top:140px;
  }
}
@media (min-width: 1000px) {
  .savoir{
    left: 80%;
    top:120px;
  }
  .ficheProduit{
    width: 30%;
  }
  header{
    background-image: url(../img/g_img/img_header.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1400px) {
  .savoir{
    left: 80%;
    top:170px;
  }
