header{
  background-color: rgba(254, 63, 63, 0.5);
  padding: 20px 0;
}

h1{
  text-align: center;
  position: relative;
}

header section{
  border: 3px solid #000;
  display: inline-block;
  position: absolute;
  margin-left: 20px;
}

header p{
  text-align: right;
}

.inputCache{
  display: none;
}

.ficheProduit{
  border: 1px solid #000;
  width: 90%;
  display: inline-block;
  margin: 20px 0;
}

.ficheProduit img{
  width: 50%;
  margin: 0 25%;
}

.savoir{
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

#detailProduit{
  border: 1px solid #000;
  width: 75%;
  display: inline-block;
}

#detailProduit img{
  width: 50%;
  vertical-align: top;
  float: left;
}

#detailProduit a{
  text-decoration: none;

}

#detailProduit p{
  margin : 0 5px;
}

footer{
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 5px;
}
footer h2{
  text-align: center;
}

footer section{
  width: 50%;
  margin: auto;
}
footer section p{
  text-align: center;
}

@media (min-width: 600px) {
  .ficheProduit{
    width: 45%;
  }
}

@media (min-width: 1000px) {
  .ficheProduit{
    width: 30%;
  }

  #titleDeco {
    width: 100%;
    text-align: center;
    color: grey;
    font-size: 34px;
  }

  #deconnexionPage {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
  }

  .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 1s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }


}
